@import '../../index';

.month-calendar-container {
  height: 100%;
  width: 100%;
}

.month-calendar-row {
  display: flex;
  width: 100%;

  &:not(:last-child) {
    border-bottom: solid $light 1px;
  }

  &.num-weeks-4 {
    height: calc(100% / 4);
  }

  &.num-weeks-5 {
    height: calc(100% / 5);
  }

  &.num-weeks-6 {
    height: calc(100% / 6);
  }
}

.month-calendar-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 7);
  padding: 4px 8px 8px;
  font-size: 0.8em;
  overflow-y: hidden;

  &:first-child {
    border-left: solid $light 1px;
  }

  &:not(:last-child) {
    border-right: solid $light 1px;
  }

  &.month-calendar-cell-not-selected-month {
    background-color: $lightest;
  }

  .month-calendar-cell-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .month-calendar-cell-day-number {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.8em;
      width: 1.8em;

      &.month-calendar-cell-day-number-today {
        border-radius: 50%;
        background-color: $dark;
        color: $white;
      }
    }

    .month-calendar-cell-day-name {
      font-weight: bold;
      color: $gray;
    }
  }

  .month-calendar-cell-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6px 0;
  }

  .month-calendar-cell-bottom {
    display: flex;
    flex-direction: row-reverse;
    height: 2em;
    font-size: 0.8em;

    .month-calendar-cell-add-event-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      border-radius: 1em;
      background-color: $white;
      color: $dark;
      cursor: pointer;

      &:hover {
        background-color: $light;
      }

      &:active {
        background-color: $lightGray;
      }
    }
  }
}

.month-calendar-occurrence {
  width: 100%;
  padding: 2px 6px;
  border-radius: 2px;
  background-color: $lightBlue;
  box-shadow: 1px 1px 1px $blue;
  color: $darkBlue;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &.being-edited {
    background-color: $lightYellow;
    box-shadow: 1px 1px 1px $darkYellow;
    color: $darkYellow;
  }

  &.has-occurred {
    background-color: $lighter;
    box-shadow: 1px 1px 1px $darkGray;
    color: $dark;
  }

  .month-calendar-occurrence-inner {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
  }
}
