@import '../../vars';

.month-calendar-container {
  height: 100%;
  width: 100%;
}

.month-calendar-row {
  display: flex;
  width: 100%;

  &:not(:last-child) {
    border-bottom: solid 1px $light;
  }

  &.num-weeks-4 {
    height: calc(100% / 4);
  }

  &.num-weeks-5 {
    height: calc(100% / 5);
  }

  &.num-weeks-6 {
    height: calc(100% / 6);
  }
}

.month-calendar-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 7);
  padding: 4px 8px 8px;
  border-left: solid 1px $light;
  font-size: 0.8em;
  overflow-y: hidden;

  &.month-calendar-cell-not-selected-month {
    background-color: $lightest;
  }

  .month-calendar-cell-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .month-calendar-cell-day-number {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.8em;
      width: 1.8em;

      &.month-calendar-cell-day-number-today {
        border-radius: 50%;
        background-color: $dark;
        color: $white;
      }
    }

    .month-calendar-cell-day-name {
      font-weight: bold;
      color: $gray;
    }
  }

  .month-calendar-cell-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6px 0px;
  }

  .month-calendar-cell-bottom {
    display: flex;
    justify-content: flex-end;
    height: 2em;
    font-size: 0.8em;
  }
}

.month-calendar-occurrence {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0px 4px;
  border-radius: 2px;
  background-color: $lightBlue;
  border: solid 2px $lightBlue;
  box-shadow: 1px 1px 1px $blue;
  color: $darkBlue;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &.has-occurred {
    background-color: $lightRed;
    border-color: $lightRed;
    box-shadow: 1px 1px 1px $red;
    color: $darkRed;
  }

  &.checked-off {
    background-color: $lightGreen;
    border-color: $lightGreen;
    box-shadow: 1px 1px 1px $green;
    color: $darkGreen;
  }

  &.being-edited {
    font-weight: bold;
  }

  .month-calendar-occurrence-details {
    @include transition(
      width $layoutTransitionDuration,
      left $layoutTransitionDuration
    );
    width: 0;
    position: relative;
    left: -200%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.is-hovered {
      width: 100%;
      left: 0;
    }

    .month-calendar-occurrence-actions {
      display: flex;
      align-items: center;

      .month-calendar-occurrence-action-button {
        &:not(:first-child) {
          margin-left: 10px;
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .month-calendar-occurrence-preview {
    @include transition(
      width $layoutTransitionDuration,
      left $layoutTransitionDuration
    );
    width: 200%;
    position: relative;
    left: 0;

    &.is-hovered {
      width: 0;
      left: 200%;
    }

    .recurring-occurrence-icon {
      margin-right: 3px;
    }
  }
}
