@import '../../index';

.nice-form-row:not(:first-child) {
  margin: 20px 0;
}

.nice-form-submit-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nice-form-error-msg {
  display: flex;
  flex-direction: row-reverse;
  margin: 8px 0;
  color: $red;
  font-size: 0.8em;
}
