@import '../../index';

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $topbarHeight;
  padding: 8px;

  .topbar-logo {
    height: 100%;
  }

  .topbar-right {
    display: flex;
    align-items: center;

    .topbar-selected-month {
      margin-left: 20px;
    }
  }
}
