@import '../../vars';

$calendarViewLeftSidebarWidth: 275px;

.calendar-view-container {
  display: flex;
  height: 100%;
  width: 100%;

  .calendar-view-left-sidebar {
    @include transition(
      width $layoutTransitionDuration,
      opacity 0.1s $layoutTransitionDuration
    );
    width: 0;
    opacity: 0;
    overflow-y: scroll;

    &.opened {
      width: $calendarViewLeftSidebarWidth;
      opacity: 1;
    }

    .divider {
      height: 1px;
      width: calc(100% - 20px);
      margin-left: 10px;
      background-color: $lightGray;
    }
  }

  .calendar-container {
    @include transition(width $layoutTransitionDuration);
    width: 100%;

    &.left-sidebar-opened {
      width: calc(100% - #{$calendarViewLeftSidebarWidth});
    }
  }
}
