@import '../../constants';

.content {
  margin: $contentMargin;
  height: calc(100vh - #{$topbarHeight} - (2 * #{$contentMargin}));
  background-color: $white;
  box-shadow: 0 0 3px $white;
  border-radius: 2px;
  color: $dark;
}
