@import '../../index';

.nice-select-container {
  position: relative;
  display: inline-flex;
  border-radius: 3px;
  background-color: $white;
  font-size: 0.85em;

  .nice-select {
    display: flex;
    align-items: center;
    padding: 7px 0px 7px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px $gray;
    background-color: $lightest;
    color: $darker;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        background-color: $lighter;
      }

      &:active {
        background-color: $light;
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &.bare-select {
      padding: 7px 10px;
      border: none;
      border-bottom: solid 2px transparent;
      border-radius: 0px;
      box-shadow: none;

      &.nice-select-open {
        border-color: $blue;
      }
    }

    .nice-select-icon {
      margin: 0px 5px;
      color: $dark;
    }
  }

  .nice-select-options-container {
    position: absolute;
    top: 3em;
    left: 0;
    max-height: 300px;
    overflow-y: scroll;
    box-shadow: 1px 1px 5px $gray;
    z-index: 10;
  }
}

.nice-select-option {
  padding: 4px 6px;
  white-space: nowrap;
  background-color: $lightest;
  color: $darker;
  cursor: pointer;

  &:hover {
    background-color: $lighter;
  }

  &:active {
    background-color: $light;
  }
}

.nice-select-option-selected {
  font-weight: bold;
}
