@import '../../vars';

.nice-button-container {
  display: inline-block;
  border-radius: 3px;
  background-color: $white;
}

.nice-button {
  padding: 0;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px $gray;
  background-color: $lightest;
  color: $darker;
  font-size: 15px;
  outline: none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: $lighter;
    }

    &:active {
      background-color: $light;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.compact-button {
    .nice-button-inner {
      padding: 6px 16px;
    }
  }
}

.nice-button-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
}

.button-loading {
  margin-left: 15px;
}

.primary-button {
  background-color: $blue;
  color: $lightest;

  &:hover:not(:disabled) {
    background-color: $hoverBlue;
  }

  &:active:not(:disabled) {
    background-color: $activeBlue;
  }
}

.secondary-button {
  background-color: $green;
  color: $lightest;

  &:hover:not(:disabled) {
    background-color: $hoverGreen;
  }

  &:active:not(:disabled) {
    background-color: $activeGreen;
  }
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-color: transparent;
  color: $dark;
  cursor: pointer;

  &:hover {
    background-color: $light;
  }

  &:active {
    background-color: $lightGray;
  }

  &.red-circle {
    color: $darkRed;

    &:hover {
      background-color: $hoverRed;
    }

    &:active {
      background-color: $activeRed;
    }
  }

  &.blue-circle {
    color: $darkBlue;

    &:hover {
      background-color: $hoverBlue;
    }

    &:active {
      background-color: $activeBlue;
    }
  }

  &.green-circle {
    color: $darkGreen;

    &:hover {
      background-color: $hoverGreen;
    }

    &:active {
      background-color: $activeGreen;
    }
  }

  &.yellow-circle {
    color: $darkYellow;

    &:hover {
      background-color: $hoverYellow;
    }

    &:active {
      background-color: $activeYellow;
    }
  }

  &.dark-circle {
    color: $white;

    &:hover {
      background-color: $darkGray;
    }

    &:active {
      background-color: $gray;
    }
  }

  &.small-circle-button {
    font-size: 0.85em;
  }
}
