@import '../../constants';

.month-view-container {
  height: 100%;
  width: 100%;
}

.month-view-row {
  display: flex;
  width: 100%;

  &:not(:last-child) {
    border-bottom: solid $light 1px;
  }

  &.num-weeks-4 {
    height: calc(100% / 4);
  }

  &.num-weeks-5 {
    height: calc(100% / 5);
  }

  &.num-weeks-6 {
    height: calc(100% / 6);
  }
}

.month-view-cell {
  width: calc(100% / 7);
  padding: 4px 8px;
  font-size: 0.8em;
  cursor: pointer;

  &:first-child {
    border-left: solid $light 1px;
  }

  &:not(:last-child) {
    border-right: solid $light 1px;
  }

  &:hover:not(.month-view-adding-to-cell) {
    background-color: $lightest;
  }
}

.month-view-adding-to-cell {
  background-color: $lighter;
}

.month-view-cell-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.month-view-cell-day-name {
  font-weight: bold;
  color: $gray;
}

.month-view-cell-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px 0;
}

.month-view-occurrence {
  width: 100%;
  padding: 2px 6px;
  border-radius: 1px;
  background-color: $lightBlue;
  box-shadow: 1px 1px 2px $darkBlue;
  color: $darkBlue;

  &.month-view-occurrence-being-added {
    background-color: $lightYellow;
    box-shadow: 1px 1px 2px $darkYellow;
    color: $darkYellow;
  }
}

.month-view-occurrence-inner {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}
