@import '../../constants';

.month-view-container {
  height: 100%;
  width: 100%;
}

.month-view-row {
  display: flex;
  width: 100%;

  &:not(:last-child) {
    border-bottom: solid $gray 1px;
  }

  &.num-weeks-4 {
    height: calc(100% / 4);
  }

  &.num-weeks-5 {
    height: calc(100% / 5);
  }

  &.num-weeks-6 {
    height: calc(100% / 6);
  }
}

.month-view-cell {
  width: calc(100% / 7);
  padding: 5px;

  &:not(:last-child) {
    border-right: solid $gray 1px;
  }
}

.month-view-cell-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.month-view-cell-day-name {
  font-size: 0.8em;
  font-weight: bold;
  color: $gray;
}
