@import '../../vars';

.calendar-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 8px 8px;
  border-top: solid 1px $light;
  border-left: solid 1px $light;
  font-size: 0.8em;
  overflow-y: hidden;

  &.calendar-cell-not-selected-zoom {
    background-color: $lightest;
  }

  .calendar-cell-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .calendar-cell-day-number {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.8em;
      min-width: 1.8em;
      padding: 2px;
      border-radius: 2px;

      &.calendar-cell-day-number-now {
        background-color: $dark;
        color: $white;
      }
    }

    .calendar-cell-day-name {
      font-weight: bold;
      color: $darkGray;
    }
  }

  .calendar-cell-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6px 0px;
  }

  .calendar-cell-bottom {
    display: flex;
    justify-content: flex-end;
    height: 2em;
    font-size: 0.8em;
  }
}
