/* Colors */

$dark: #555;
$gray: #aaa;
$light: #ddd;
$white: #fff;

$darkRed: #bf372f;
$red: #ef675f;
$darkBlue: #444fcc;
$blue: #747ffc;
$lightBlue: #b4bffd;
$darkYellow: #afa049;
$yellow: #fff099;
$darkGreen: #0f9c44;
$green: #4fcc84;

/* Layout */

$topbarHeight: 60px;
$contentMargin: 3px;
