/* Colors */

$darker: #333336;
$dark: #555558;

$darkerGray: #777790;
$darkGray: #9999aa;
$gray: #aaaaad;
$lightGray: #cccccf;

$light: #dddddf;
$lighter: #f0f0f2;
$lightest: #fcfcfc;

$white: #fff;

$darkRed: #bf372f;
$red: #ef675f;
$hoverRed: #ff877f;
$activeRed: #ffa78f;
$lightRed: #ffb7af;

$darkBlue: #444fcc;
$blue: #747ffc;
$hoverBlue: #747ffce6;
$activeBlue: #747ffccc;
$lightBlue: #c4cffe;

$darkYellow: #afa049;
$yellow: #fff099;
$hoverYellow: #fff099e6;
$activeYellow: #fff099cc;
$lightYellow: #fffaa9;

$darkGreen: #0f7c24;
$green: #4fcc84;
$hoverGreen: #4fcc84e6;
$activeGreen: #4fcc84cc;
$lightGreen: #affdd4;

/* Layout */

$layoutTransitionDuration: 0.2s;
$topbarHeight: 55px;
$calendarViewLeftSidebarWidth: 250px;

/* Media */

$mobileDesktopSplit: 480px;

@mixin breakpoint($device-category) {
  @if $device-category == mobile {
    @media (max-width: $mobileDesktopSplit) {
      @content;
    }
  } @else if $device-category == desktop {
    @media (min-width: $mobileDesktopSplit+1) {
      @content;
    }
  }
}

/* Transitions */

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transition-property($property...) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}
